* reading mode */
.image-embed[alt]:after {
    content: attr(alt);
    display: block;
    margin: 0.2rem 1rem 1rem 1rem;
    font-size: 90%;
    line-height: 1.4;
    color: var(--text-faint);
    text-align: center;

}
/* source view and live preview */
.image-embed[alt]:after {
    content: attr(alt);
    display: block;
    margin: 0.2rem 1rem 1rem 1rem;
    font-size: 90%;
    line-height: 1.4;
    color: var(--text-faint);
    text-align: center;
}

/* reading mode */
img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
    
.markdown-source-view.mod-cm6 .cm-content > * {
    margin: auto auto !important;
}
/* source view and live preview */
img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
    
.markdown-source-view.mod-cm6 .cm-content > * {
    margin: auto auto !important;
}
